



$color1: #fff;
$color_2: #1b553d;
$background-: #1b553d;


.top-to-btm {
	position: relative;
}
.icon-position {
	position: fixed;
	bottom: 40px;
	right: 25px;
	z-index: 20;
}
.icon-style {
	background-color: $background-;
	border: 2px solid #fff;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	color: $color1;
	cursor: pointer;
	animation: movebtn 3s ease-in-out infinite;
	transition: all .5s ease-in-out;
	&:hover {
		animation: none;
		background: #fff;
		color: $color_2;
		border: 2px solid #1b553d;
	}
}
@keyframes movebtn {
	0% {
		transform: translateY(0px);
	}
	25% {
		transform: translateY(20px);
	}
	50% {
		transform: translateY(0px);
	}
	75% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0px);
	}
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    // overflow: hidden;
}

@import "./Home/Home";

@import "./About/About";
@import "./Common/Footer";
@import "./Common/Layout"